@font-face {
  font-family: 'HarryP';
  src: url('./fontes/HARRYP__.TTF') format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}
:root {
  --cor-primaria: #00f0ff;
}
body {
  font-family: 'Nunito', sans-serif;
}
header {
  min-height: 100vh;
  background-image: url('./imagens/header/img-hogwarts-fundo.png');
  background-size: cover;
  background-position: center;
  background-color: hsl(185, 97%, 15%);
  color: hsl(0, 0%, 100%);
  overflow: clip;
}
.conteudo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 0%, 0%, 0.6);
}
.imagem .protagonistas {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 800px;
  transform: scale(1.04);
  animation: mudandoTamanho 10s linear infinite;
}
.texto {
  max-width: 30rem;
  padding: 3rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.texto h1 {
  font-family: 'HarryP', Times, sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
}
.texto span {
  color: var(--cor-primaria);
}
.texto p {
  font-size: 1.2rem;
}
.texto a {
  background-color: var(--cor-primaria);
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: hsl(0, 7%, 8%);
  border-radius: 0.8rem;
  transition: all ease 0.3s;
  text-align: center;
  font-weight: 700;
}
.texto a:hover,
.texto a:focus {
  outline: none;
  filter: brightness(1.03);
  transform: scale(1.04);
  box-shadow: 0 5px 15px var(--cor-primaria);
}
.texto a:active {
  filter: brightness(0.8);
  box-shadow: inset 0px 0px 48px 18px var(--cor-primaria);
  box-shadow: 0 5px 15px var(--cor-primaria);
  transform: scale(1);
}
@keyframes mudandoTamanho {
  0% {
    transform: scale(1.04);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.04);
  }
}
@media screen and (min-width: 1000px) {
  .conteudo {
    flex-direction: row;
    background-color: hsla(0, 0%, 0%, 0.3);
  }
  .texto {
    text-align: left;
    padding-inline-start: 5rem;
  }
  .imagem {
    align-self: flex-end;
  }
}
/* @media screen and (min-width: 55em) {
  header {
    flex-direction: row;
    padding-inline-start: 4rem;
  }
  article {
    text-align: start;
  }
  picture {
    align-self: flex-end;
  }
} */
/* Para manter o padrão coluna em tablets como o Ipad PRO */
/* @media screen and (min-height: 55em) {
  header {
    flex-direction: column;
    min-height: 50vh;
    padding-inline-start: 0;
  }
  article {
    text-align: center;
  }
  picture {
    align-self: center;
  }
} */
